@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.btn {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn--primary {
  box-shadow: none;
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  background-color: hsl(86.4, 71.1%, 32.5%);
  color: white;
  margin-top: 0;
}

.btn.btn--primary:active,
.btn.btn--primary:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.6, 71.2%, 21.8%);
}
