/*header {
  height: 2.813rem;
  background-color: hsl(86.4, 71.1%, 32.5%);
  position: relative;
}*/

.header__logo {
  width: 3.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  /*header {
    height: 2.813rem;
  }*/

  .header__logo {
    width: 7rem;
    position: absolute;
    top: 0.4rem;
    left: 1.5rem;
  }
}
