/* Selected Transport*/

.results--header {
  text-align: center;
  background-image: url(img/road_medium.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3rem;
  /*background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  color: white;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/*Results buttons*/
.results__buttons {
  margin: 0 1.875rem;
  width: 20%;
}

.results__buttons .nav {
  margin-left: 0;
  margin-top: 2rem;
}

.results__buttons .btn.btn--secondary {
  margin-top: 0.625rem;
  padding: 0.625rem 1.25rem;
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  background-color: hsl(86.4, 71.1%, 32.5%);
  color: white;
}

.results__buttons .btn.btn--secondary:active,
.results__buttons .btn.btn--secondary:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.6, 71.2%, 21.8%);
}

/*Screen*/

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .nav a,
  .nav .material-icons {
    color: black;
  }

  .nav .material-icons {
    color: black;
  }

  .results__buttons .nav {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }

  .results {
    background-image: url(img/road_big.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
  }

  .results__container {
    background-color: white;
    opacity: 90%;
  }

  .results__buttons {
    margin: 3rem 6.25rem;
  }

  .results__buttons .btn.btn--secondary {
    margin-top: 0;
  }
  /*
  .results--header {
    background-image: url(img/road_big.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1.875rem;
  }
  */
}
