/* Selected Transport*/

.results--header {
  text-align: center;
  background-image: url(img/road_small_cut.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

/* Results - Výsledky pro */
.results__selected-transport {
  margin: 0 1.875rem;
}

.results__selected-transport--details {
  background-color: hsl(87, 55.6%, 85.9%);
}

.results__selected-transport--details > p {
  margin: 0;
  padding: 0.938rem;
  text-align: justify;
}

.selected-transport__values {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem;
}

.values--number {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 0 1.25rem 0 0;
}

.selected-transport__values p {
  margin-top: 0;
}

/*Results buttons*/
.results__buttons {
  margin: 0 1.875rem;
}

.results__buttons .nav {
  margin-left: 0;
  margin-top: 2rem;
}

.results__buttons .btn.btn--secondary {
  margin-top: 0.625rem;
  width: 100%;
}

.results__buttons .btn.btn--secondary:active,
.results__buttons .btn.btn--secondary:hover {
  cursor: pointer;
  background-color: lightgray;
}
