/* Selected transport - Výsledky pro */
.results__selected-transport--overview {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.results__selected-transport--overview p {
  margin-right: 10px;
}

.results__selected-transport--overview div {
  margin-right: 10px;
}

/* Selected transport - Graf */
.transport__graph {
  height: 10px;
  background-color: hsl(86.4, 71.1%, 32.5%);
}

/* Selected transport - Rámeček */

.values--number {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 0 1.25rem 0 0;
}

.results__selected-transport--container {
  background-color: hsl(87, 56%, 86%);
  padding: 20px;
}

/*
.results__selected-transport--details {
  background-color: hsl(87, 56%, 86%);
  padding: 20px;
}*/

.results__selected-transport--details p {
  text-align: center;
}

.selected-transport__values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons__tree {
  height: 48px;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__selected-transport {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .results__selected-transport--overview {
    color: black;
    margin-top: 1.5rem;
  }

  .results__selected-transport--details {
    padding: 1.875rem;
    display: flex;
    align-items: baseline;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .results__selected-transport--details-co2,
  .results__selected-transport--details-tree {
    width: calc(100% / 2);
  }

  .results__selected-transport--details-co2,
  .results__selected-transport--details-tree p {
    text-align: center;
  }

  .material-icons__tree {
    height: 60px;
  }

  /* Selected transport - Graf */
  .graph-selected {
    margin-left: 43px;
  }

  .transport__graph--container {
    width: 500px;
  }
}

.result--nowrap {
  white-space: nowrap;
}
