/* Selected transport - Výsledky pro */
.results__selected-transport--overview {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.results__selected-transport--overview p {
  margin-right: 10px;
}

.results__selected-transport--overview div {
  margin-right: 10px;
}

/* Selected transport - Rámeček */
.results__selected-transport {
  margin: 0 1.875rem;
}

.results__selected-transport--details {
  background-color: hsl(87, 56%, 86%);
  padding: 20px;
}

.results__selected-transport--details p {
  margin: 0;
  padding: 0.938rem;
  text-align: center;
}

.selected-transport__values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values--number {
  font-size: 2.25rem;
  font-weight: 800;
  margin: 0 1.25rem 0 0;
}

/*.values--number p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}*/

.material-icons__tree {
  height: 48px;
  padding: 0.938rem;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__selected-transport {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .results__selected-transport--overview {
    color: black;
    margin-top: 1.5rem;
  }

  .results__selected-transport--details {
    padding: 1.875rem;
    display: flex;
    align-items: baseline;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .results__selected-transport--details-co2,
  .results__selected-transport--details-tree {
    width: calc(100% / 2);
  }

  .results__selected-transport--details-co2,
  .results__selected-transport--details-tree p {
    text-align: center;
  }

  .material-icons__tree {
    height: 60px;
  }
}
