.dataFacts__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.dataFacts__text {
  text-align: justify;
  padding: 0;
  margin: 1.5rem 1.875rem 1.5rem 1.875rem;
}

.container__img {
  position: relative;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

.dataFacts__heading--text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  opacity: 60%;
  padding: 10px 0;
  width: 80%;
}

.dataFacts__section-name {
  margin: 1.5rem 1.875rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .dataFacts__section-name--screen {
    display: flex;
  }

  .dataFacts__container {
    flex-basis: calc (100%/3);
  }

  .results__data-facts {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .dataFacts__text {
    background-color: white;
    margin: 0;
    padding: 0.938rem;
  }
}
