/*Methodology Results*/

.results__methodology {
  margin: 3rem 1.875rem;
  padding: 1.5rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__methodology .material-icons {
  margin-bottom: 1rem;
}

.results__methodology p {
  text-align: justify;
}

.results__methodology h3 {
  text-align: center;
}

.btn--center {
  padding: 0.625rem 1.25rem;
  margin-top: 0;
  border: 1px solid black;
  background-color: white;
}
.btn--center:active,
.btn--center:hover {
  opacity: 70%;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__methodology {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  /*Jak jsme na to přišli?*/

  .results__methodology .material-icons {
    width: 5%;
  }

  .results__methodology--info {
    width: 70%;
  }

  .results__methodology .btn--secondary .btn--center {
    width: 30%;
  }

  .results__methodology--info h3 {
    padding: 0;
    margin: 1.25rem;
    text-align: left;
  }

  .results__methodology--info p {
    text-align: justify;
  }

  .results__methodology--info a {
    text-decoration: none;
  }
}
