/* Starting page - Form*/
.starting-page__form {
  margin: 1.5rem 0.938rem;
  background-color: white;
}

/*Headline, Background*/
.starting-page__name {
  text-align: center;
  background-image: url(img/road_small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 2rem;
}

/*Spočti si CO2 stopu tvojí cesty*/
.starting-page__name--headline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 1.5rem;
}

/*A zjisti, kolik stromů tvá volba stojí*/
.starting-page__name--subheadline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 1.5rem;
}

/*Chci vědět víc*/
.btn.btn--primary.main {
  background-color: hsl(86.4, 71.1%, 32.5%);
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  color: white;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.btn--primary.main:active,
.btn--primary.main:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.4, 71.1%, 21.8%);
}

/* Starting page - Tvoje cesta*/
.starting-page__form--journey {
  margin: 1.5rem 0;
}

.form__input {
  margin-top: 1.5rem;
}

.input--from-to {
  display: flex;
  flex-direction: column;
}

.input--distance {
  display: flex;
  flex-direction: column;
}

/* Label - Odkud, Kam, Vzdálenost*/
#input--from,
#input--to,
#input--distance {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

/* Chci zadat vzdálenost v km*/
.form--distance {
  font-size: 0.875rem;
  text-align: right;
  margin: 0 0 10px 0;
  padding: 0.313rem;
}

/* Zadaná vzdálenost*/
.distance-result {
  text-align: center;
  font-weight: 700;
  margin: 2rem 0 0 0;
}

/* Starting page - Jak se přesuneš?*/
.starting-page__form--transport-type {
  margin: 1.5rem 0;
}

/* Ikonky dopravních prostředků*/
.transport-type--icon {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.transport-type--icon:active,
.transport-type--icon:focus,
.transport-type--icon:hover {
  color: hsl(86.6, 71.2%, 43.5%);
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']:checked + .material-icons {
  color: hsl(86.6, 71.2%, 43.5%);
}

.transport-type--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.transport-type--img [type='radio'] {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.transport-type--img input[type='radio']:checked {
  visibility: hidden;
}

/* Zvolený dopravní prostředek*/
.transport-result {
  text-align: center;
  font-weight: 700;
  margin: 2.5rem 0 0 0;
}

/* Starting page - Na co jezdíš*/
.starting-page__form--fuel {
  margin: 1.5rem 0;
}

/* Rodič - druhy paliva*/
.form--fuel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form--fuel-radio {
  width: calc(100% / 3);
  margin-top: 1.25rem;
  display: flex;
  align-content: center;
}

.form--fuel-radio input {
  margin-right: 0.313rem;
  margin-left: 0;
}

/*Starting page - Jakým druhem autobusu*/
.starting-page__form--bus-type {
  margin: 1.5rem 0;
}

.form--bus-type-radio {
  width: calc(100% / 2);
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.form--bus-type-radio input {
  margin-right: 0.313rem;
  margin-left: 0;
}

/*Starting page - Počet cestujících*/
.starting-page__form--people {
  margin: 1.5rem 0;
}

/*Kolik vás pojede?*/
.form--people {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}

#people--count {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-left: 1rem;
  flex-grow: 1;
}

/*Starting page - Četnost jízd*/
.starting-page__form--frequency {
  margin: 1.5rem 0;
}

.frequency--count-details {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}

/* 1, 2, 3 ...*/
#frequency--count {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-right: 1rem;
  /*flex: 1 1 calc(100% / 3);*/
  width: 15%;
}

/* krát*/
.frequency--count-details p {
  /*flex: 1 1 calc(100% / 3);*/
  margin-top: 0;
  text-align: center;
}

/* za rok/za měsíc*/
#frequency--period {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-left: 1rem;
  /*flex: 1 1 calc(100% / 3);*/
}

/*Jak často se takto přesouváš?*/
.form--frequency p {
  margin-bottom: 0;
}

/*Starting page - Spočítej, Přidej dopravní prostředek*/
.starting-page__form--buttons {
  margin: 1.5rem 0 2rem 0;
}

.form__buttons--submit {
  display: flex;
  flex-direction: column;
}

/*Spočítej*/
.btn.btn--primary.standard {
  box-shadow: none;
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  background-color: hsl(86.4, 71.1%, 32.5%);
  margin-bottom: 0.625rem;
  margin-top: 1rem;
  color: white;
}

.btn.btn--primary.standard:active,
.btn.btn--primary.standard:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.6, 71.2%, 21.8%);
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .starting-page {
    background-image: url(img/road_screen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 125rem;
    max-height: 93.75rem;
  }

  .starting-page__main--container {
    display: flex;
    justify-content: center;
    max-width: 81.25rem;
    margin: auto;
  }

  .starting-page__name {
    background-image: none;
    margin: 8.5rem 0 0 0;
    padding: 0 50px 0 0;
    width: 50%;
  }

  .starting-page__form {
    align-self: center;
    margin: 6.25rem 0;
    padding: 0 1.5rem;
    width: 35%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  }

  /*Spočítej si CO2 stopu tvojí cesty*/
  .starting-page__name--headline {
    font-size: 4.5rem;
    line-height: 1.5;
    text-align: left;
  }

  /*A zjisti, kolik stromů tvá volba stojí*/
  .starting-page__name--subheadline {
    font-size: 1.563rem;
    margin-top: 1.4rem;
    text-align: left;
  }

  /*Chci vědět víc*/
  .btn.btn--primary.main {
    display: none;
  }
  /*Spočítej*/
  .btn.btn--primary.standard {
    width: 50%;
    align-self: center;
  }
}
