/*Headline, Background*/

.starting-page__name {
  text-align: center;
  background-image: url(img/road_small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.125rem;
}
.starting-page__name--headline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.starting-page__name--subheadline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 1.4rem;
}

/*Chci vědět víc*/
.btn.btn--primary.main {
  background-color: hsl(86.4, 71.1%, 32.5%);
  color: white;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
}

.btn--primary.main:active {
  background-color: hsl(86.6, 71.2%, 21.8%);
}

.btn--primary.main:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
}

/* Jednorázově, Pravidelně*/
.form__buttons {
  display: flex;
  padding: 0;
}

.btn--secondary {
  flex: 50%;
  border: 1px solid black;
}

/* Jednorázově
.btn.btn--secondary.random:active,
.btn.btn--secondary.random:hover {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
}

.btn.btn--secondary.regular:active,
.btn.btn--secondary.regular:hover {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
} */

/* Starting page - Tvoje cesta*/
.starting-page__form--journey {
  background: white;
  padding: 0.063rem;
  margin: 1.5rem 1.875rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#input--from {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

#input--to {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

#input--distance {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

.form--distance {
  font-size: 0.875rem;
  text-align: right;
  margin: 0;
  padding: 0.313rem;
}

.distance-result {
  text-align: center;
  font-weight: 700;
  margin: 2rem 0 0 0;
}

/* Starting page - Jak se přesuneš?*/
.starting-page__form--transport-type {
  margin: 1.5rem 1.875rem;
  background-color: white;
}

.transport-type--icon {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.transport-type--icon:active,
.transport-type--icon:focus,
.transport-type--icon:hover {
  color: hsl(86.6, 71.2%, 43.5%);
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']:checked + .material-icons {
  color: hsl(86.6, 71.2%, 43.5%);
}

.transport-type--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.transport-type--img [type='radio'] {
  visibility: hidden;
}

.transport-type--img input[type='radio']:checked {
  visibility: hidden;
}

.transport-result {
  text-align: center;
  font-weight: 700;
  margin: 2.5rem 0 0 0;
}

/* Starting page - Na co jezdíš*/
.starting-page__form--fuel {
  margin: 1.5rem 1.875rem;
  background-color: white;
}

.form--fuel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form--fuel-radio {
  width: calc(100% / 3);
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.form--fuel-radio input {
  margin-right: 0.313rem;
  margin-left: 0;
}

/*Starting page - Jakým druhem autobusu*/
.starting-page__form--bus-type {
  margin: 1.5rem 1.875rem;
  background-color: white;
}

.form--bus-type-radio {
  width: calc(100% / 2);
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.form--bus-type-radio input {
  margin-right: 0.313rem;
  margin-left: 0;
}

/*Starting page - Počet cestujících*/

.starting-page__form--people {
  margin: 1.5rem 1.875rem;
  background-color: white;
}

.form--people {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}

#people--count {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-left: 1rem;
  flex-grow: 1;
}

/*Starting page - Četnost jízd*/
.starting-page__form--frequency {
  margin: 1.5rem 1.875rem;
  background-color: white;
}

.frequency--count-details {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}

.frequency--count-details p {
  margin-top: 0;
}

#frequency--count {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-right: 1rem;
  flex: 1 1 calc(100% / 3);
  width: 30%;
}

#frequency--count p {
  flex: 1 1 calc(100% / 3);
}

/* za rok/za měsíc*/
#frequency--period {
  font-size: 1rem;
  padding: 0.3rem;
  border: 0, 5px solid black;
  margin-left: 1rem;
  flex: 1 1 calc(100% / 3);
}

.form--frequency p {
  margin-bottom: 0;
}

/*Starting page - Spočítej, Přidej dopravní prostředek*/
.starting-page__form--buttons {
  margin: 1.5rem 1.875rem 2rem 1.875rem;
}

.form__buttons--submit {
  display: flex;
  flex-direction: column;
}

/*Spočítej*/
.btn.btn--primary.standard {
  box-shadow: none;
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  background-color: hsl(86.4, 71.1%, 32.5%);
  margin-bottom: 0.625rem;
  margin-top: 1rem;
  color: white;
}

.btn.btn--primary.standard:active,
.btn.btn--primary.standard:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.6, 71.2%, 21.8%);
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  body {
    background-image: url(img/road_large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .starting-page__main--container {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
  }

  .starting-page__name {
    background-image: none;
    margin: 8.5rem 0 0 0;
    padding: 0 50px 0 0;
    width: 50%;
  }

  .starting-page__form {
    align-self: center;
    margin-top: 6.25rem;
    width: 35%;
    background-color: white;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
  }

  .starting-page__name--headline {
    font-size: 4.5rem;
    line-height: 1.5;
    text-align: left;
  }

  .starting-page__name--subheadline {
    font-size: 1.563rem;
    margin-top: 1.4rem;
    text-align: left;
  }

  /*Chci vědět víc*/
  .btn.btn--primary.main {
    display: none;
  }

  /*Tvoje cesta
  .starting-page__form--journey {
    padding: 1.875rem;
  }*/

  /*Jak se přesuneš?
  .starting-page__form--transport-type {
    padding: 1.875rem;
  }*/

  /*Na co jezdíš
  .starting-page__form--fuel {
    padding: 1.875rem;
  }*/

  /*Jakým druhem autobusu
  .starting-page__form--bus-type {
    padding: 1.875rem;
  }*/

  /*Počet cestujících
  .starting-page__form--people {
    padding: 1.875rem;
  }*/

  /*Četnost jízd*/

  /*Starting page - Spočítej, Přidej dopravní prostředek*/

  /*Přidej dopravní prostředek*/
  .btn.btn--secondary.standard {
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
    flex-basis: calc(100%2);
  }
}
