/*Headline, Background*/
.starting-page__name--headline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.starting-page__name--subheadline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 1.4rem;
}

/*Chci vědět víc*/
.btn--primary {
  background-color: hsl(86.4, 71.1%, 32.5%);
  color: white;
  box-shadow: 2px 2px 4px #000000;
}

.btn--primary:active {
  background-color: hsl(86.6, 71.2%, 21.8%);
}

.btn--primary:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
}

/* Jednorázově, Pravidelně*/
.form__buttons {
  display: flex;
  padding: 0;
}

.btn--secondary {
  flex: 50%;
  border: 1px solid black;
}

/*Jednorázově*/
.btn.btn--secondary.random:active,
.btn.btn--secondary.random:hover {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
}

.btn.btn--secondary.regular:active,
.btn.btn--secondary.regular:hover {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
}

/* Starting page - Tvoje cesta*/
.starting-page__form--journey {
  background: white;
  padding: 0.063rem;
  margin: 1.5rem 1.875rem 0 1.875rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#input--from {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

#input--to {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

#input--distance {
  font-size: 1rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

.form--distance {
  font-size: 0.875rem;
  text-align: right;
  margin: 0;
  padding: 0.313rem;
}

.distance-result {
  text-align: center;
  font-weight: 700;
  margin: 2rem 0 0 0;
}

/* Starting page - Jak se přesuneš?*/
.starting-page__form--transport-type {
  padding: 0.063rem;
  margin: 1.5rem 1.875rem 0 1.875rem;
}

.transport-type--icon {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

.transport-type--icon:active,
.transport-type--icon:focus,
.transport-type--icon:hover {
  color: hsl(86.6, 71.2%, 43.5%);
  border-radius: 50%;
  cursor: pointer;
}

.transport-type--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

/* .transport-type--img [type='radio'] {
  visibility: hidden;
} */

.transport-result {
  text-align: center;
  font-weight: 700;
  margin: 2.5rem 0 1.5rem 0;
}

/* Starting page - Na co jezdíš*/
.starting-page__form--fuel {
  margin: 0 1.875rem;
}

.form--fuel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form--fuel-radio {
  width: calc(100% / 3);
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.form--fuel-radio input {
  margin-right: 0.313rem;
  margin-left: 0;
}

/*Starting page - Počet cestujících*/

.starting-page__form--people {
  margin: 1.5rem 1.875rem;
}

.form--people {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}

#people--count {
  font-size: 1rem;
  padding: 0.625rem;
  border: 0, 5px solid black;
  margin-left: 1rem;
  flex-grow: 1;
}

/*Starting page - Spočítej, Přidej dopravní prostředek*/
.starting-page__form--buttons {
  margin: 1.5rem 1.875rem;
}

.form__buttons--submit {
  display: flex;
  flex-direction: column;
}

/*Spočítej*/
.btn.btn--primary.standard {
  box-shadow: none;
  border: 1px solid hsl(86.4, 71.1%, 32.5%);
  background-color: hsl(86.4, 71.1%, 32.5%);
  margin-bottom: 0.625rem;
  margin-top: 1rem;
}

.btn.btn--primary.standard:active,
.btn.btn--primary.standard:hover {
  background-color: hsl(86.6, 71.2%, 21.8%);
  border: 1px solid hsl(86.6, 71.2%, 21.8%);
}

/*Přidej dopravní prostředek*/
.btn.btn--secondary.standard {
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  margin-top: 0;
}

.btn.btn--secondary.standard:active,
.btn.btn--secondary.standard:hover {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  margin-top: 0;
  color: white;
}
