@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.material-icons {
  font-family: 'Material Icons Round';
}

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  background-color: white;
}

/*html {
  background-image: url('road-large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/

.starting-page__name {
  text-align: center;
  background-image: url(img/road-small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.125rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

.starting-page__name--headline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.starting-page__name--subheadline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 1.4rem;
}

/* Výsledky */

/* Selected Transport*/

.results--header {
  text-align: center;
  background-image: url(img/road-small-cut.jpg);
  color: white;
  padding: 2.5rem;
}

.results__selected-transport + p {
  text-align: center;
}

.results__selected-transport--details {
  border: 5px solid hsl(86.4, 71.1%, 32.5%);
}

.results__selected-transport--details > p {
  margin: 0;
  text-align: left;
}

.selected-transport__values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values--number {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.values--number + p {
  margin: 0;
}

/* Alternatives*/

.results__alternatives {
  margin-top: 1.5rem;
}

/*Methodology Results*/

.results__methodology {
  margin-top: 1.5rem;
  border: 5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.results__methodology p {
  text-align: justify;
  padding: 1.25rem;
  margin: 0;
}

.results__methodology h3 {
  padding-top: 0.625rem;
  text-align: center;
}

.btn--center {
  max-width: 200px;
  margin-top: 0;
}
