@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.material-icons {
  font-family: 'Material Icons Round';
}

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: white;
}

/*html {
  background-image: url('road-large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/

.starting-page__name {
  text-align: center;
  background-image: url(img/road-small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.125rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  margin: 0;
}

.starting-page__name--headline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.starting-page__name--subheadline {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 1.25px;
}

.starting-page__form--journey {
  margin: 1.25rem 1.875rem 0 1.875rem;
  background: white;
  padding: 0.063rem;
}

.btn--primary {
  background-color: hsl(86.6, 71.2%, 43.5%);
  color: white;
  box-shadow: 2px 2px 4px #000000;
}

.form__buttons {
  display: flex;
  padding: 0;
}

.btn--secondary {
  flex: 50%;
  margin-left: 1px;
  margin-right: 1px;
}

.undefined {
  flex: 50%;
  margin-left: 1px;
  margin-right: 1px;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#input--from {
  font-size: 1rem;
  padding: 0.625rem;
  border: 0, 5px solid black;
  margin-bottom: 0.625rem;
}

#input--to {
  font-size: 1rem;
  padding: 0.625rem;
  border: 0, 5px solid black;
}

.form--distance {
  font-size: 0.875rem;
  text-align: right;
  margin: 0;
  padding: 0.313rem;
}

.distance-result {
  text-align: center;
  font-weight: 700;
  margin: 0.625rem 0 0.625rem 0;
}

.starting-page__form--transport-type {
  margin: 0 1.875rem 0 1.875rem;
  background: white;
  padding: 0.063rem;
}

.transport-type--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.transport-type--img [type='radio'] {
  display: none;
}

.transport-type--img.material-icons {
  flex-basis: calc(100% / 3);
  display: block;
}

.transport-result {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
}

.starting-page__form--fuel {
  margin: 0 1.875rem 1.5rem 1.875rem;
  background: white;
}

.form--fuel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.starting-page__form--people {
  margin: 0 1.875rem;
  background: white;
}

.form--people {
  display: flex;
  margin-top: 1.5rem;
}

.starting-page__form--buttons {
  padding: 0.938rem 1.563rem;
}

/* Výsledky */

.results__selected-transport {
  margin: 0 1.875rem;
}

.results--header {
  margin: 1.5rem 1.875rem 0 1.875rem;
  text-align: center;
}
