@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.material-icons {
  font-family: 'Material Icons Round';
}

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  background-color: white;
}

/*html {
  background-image: url('road-large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/

.starting-page__name {
  text-align: center;
  background-image: url(img/road-small.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.125rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

/* Alternatives*/

.results__alternatives {
  margin: 1.5rem 1.875rem 0 1.875rem;
}

/*Methodology Results*/

.results__methodology {
  margin: 1.5rem 1.875rem 0 1.875rem;
  border: 5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.results__methodology p {
  text-align: justify;
  padding: 1.25rem;
  margin: 0;
}

.results__methodology h3 {
  padding-top: 0.625rem;
  text-align: center;
}

.btn--center {
  max-width: 200px;
  margin-top: 0;
  border: 2px solid hsl(86.6, 71.2%, 43.5%);
}
.btn--center:active,
.btn--center:hover {
  background-color: hsl(87, 55.6%, 85.9%);
  border: 2px solid hsl(86.6, 71.2%, 43.5%);
}
