/* .form__buttons--journey-type [type='radio'] {
  visibility: hidden;
} */

input[type='radio']:checked + label {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
}
