/* .form__buttons--journey-type [type='radio'] {
  visibility: hidden;
} */

.form__buttons--journey-type label,
.form__buttons--journey-type input {
  display: inline-block;
}

.input[type='radio']:checked + .form__buttons--journey-typ {
  background-color: hsl(86.6, 71.2%, 43.5%);
  border: 1px solid hsl(86.6, 71.2%, 43.5%);
  color: white;
}
