.results__alternatives--choice {
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__alternatives--choice {
    margin-bottom: 3rem;
  }
}
