/* Alternatives*/

.results__alternatives {
  margin: 1.5rem 0;
}

/* Jsi si svojí volbou jistý? Zkus raději jednu z alternativ!*/
.results__alternatives--choice {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}

/* Rodič - ikonka + hláska s grafem + x co2, x stromu!*/
.results__alternative-transport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

/* Rodič - ikonka + hláška s grafem*/
.alternative-transport__container {
  display: flex;
  align-items: center;
}

/* Rodič - hláška s grafem*/
.alternative-transport__container-phrase {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.alternative-transport__container-phrase h4 {
  margin: 0 0 0.5rem 0;
}

/* x kg CO2, x stromu */
.alternative-transport__details {
  display: flex;
  flex-direction: column;
  width: 70px;
  flex-shrink: 0;
}

.alternative-transport__details p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  font-size: 0.75rem;
}

.alternative-transport__details-tree {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.alternative-transport__details-tree .material-icons__tree {
  height: 20px;
  margin-left: 5px;
  padding: 0;
}

.alternative--others {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.alternative--others h4 {
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__alternatives {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .results__alternatives h4 {
    font-size: 1.25rem;
  }

  .results__alternative-transport {
    margin: 1.8rem 0;
  }

  /* x kg CO2, x stromu */
  .alternative-transport__details {
    padding-left: 0;
    width: 100px;
    flex-shrink: 0;
  }

  /* Graf */
  .alternative-transport__container-phrase .transport__graph--container {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Choices */
  .results__alternatives--choice {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0;
  }

  .alternative-transport__details p {
    font-size: 1.125rem;
  }

  .alternative-transport__details-tree .material-icons__tree {
    margin-left: 10px;
    padding: 0;
  }
}
