/* Alternatives*/

.results__alternatives {
  margin: 1.5rem 0;
}

.results__alternatives--choice {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.results__alternative-transport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.alternative-transport__phrase {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

/*.results__alternative-transport h4 {
  padding-left: 20px;
}*/

.alternative-transport__details {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.alternative-transport__details p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  font-size: 0.75rem;
}

.alternative-transport__details-tree {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.alternative-transport__details-tree .material-icons__tree {
  height: 25px;
  margin-left: 5px;
  padding: 0;
}

.alternative--others {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.alternative--others h4 {
  text-align: left;
  margin: 0;
  padding-left: 15px;
}

@media only screen and (min-width: 1024px) /*and (orientation: portrait) */ {
  .results__alternatives {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .results__alternatives h4 {
    font-size: 1.25rem;
  }

  .alternative-transport__graph {
    flex: 0 0 5rem;
    background-color: lightgray;
    height: 0.6rem;
    border-radius: 0.3rem;
  }

  .skill__bar {
    flex: 0 0 30rem;
    background-color: lightgray;
    height: 0.6rem;
    border-radius: 0.3rem;
  }

  .skill__progress {
    background-color: #444;
    width: 50%;
    height: 0.6rem;
    border-radius: 0.3rem;
  }

  /* Choices */
  .results__alternatives--choice {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0;
  }

  .alternative-transport__details p {
    font-size: 1.125rem;
  }

  .alternative-transport__details-tree .material-icons__tree {
    margin-left: 10px;
    padding: 0;
  }
}
